openapi: 3.1.0
info:
  title: BookStore REST API
  version: 1.0.0
  description: |
    REST API for an online bookstore.

    This API provides authentication, user management, book management,
    cart, favourites, orders, and other bookstore-related functionality.
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
servers:
  - url: https://bookstore.kplabs.deno.net/
    description: Demo Server
  - url: http://localhost:8002/
    description: Local Server
tags:
  - name: auth
    description: |
      Authentication and account verification endpoints.

      Includes:
      - User registration
      - User login
      - Email OTP verification
      - Resending OTP
      - Forgot password
      - Reset password
  - name: admin
    description: |
      Administrator endpoints for monitoring and managing
      the bookstore application.
  - name: books
    description: |
      Book catalog, inventory, and product management endpoints.

      Includes:
      - Public catalog browsing with title and author regex search
      - Sorting (newest, oldest) and pagination controls
      - Single book lookup with high-speed Redis caching
      - Administrator book creation with Cloudinary cover image upload
      - Administrator book updates with metadata editing and cover image replacement
      - Administrator soft-deletion preserving historical order data
  - name: cart
    description: |
      Shopping cart operations for authenticated customers.

      Includes:
      - Retrieving active user shopping cart with Redis caching
      - Adding books to cart with real-time inventory validation and dynamic pricing recalculation
      - Removing items from cart with automatic price and quantity reconciliation
  - name: orders
    description: |
      Order processing, Stripe checkout, refund requests, and fulfillment tracking.

      Includes:
      - Creating Stripe checkout sessions with inventory reservations and cart conversion
      - Processing customer payment refunds with eligibility verification (7-day window)
      - Administrator platform-wide order monitoring, sorting, and pagination
      - Single order lookup with high-speed Redis caching
      - Stripe payment completion and redirection handling
  - name: reviews
    description: |
      Customer book review and rating management endpoints.

      Includes:
      - Retrieving paginated customer reviews and star ratings for a specific book
      - Submitting customer reviews with automatic book aggregate rating recalculation
      - Updating user reviews and modifying star ratings
      - Deleting customer reviews with automated catalog score reconciliation
      - Administrator catalog-wide review monitoring, searching, and pagination
      - High-performance personal review retrieval with Redis cache-aside caching
  - name: users
    description: |
      User account management, profile settings, order history, and favourites collection.

      Includes:
      - Retrieving authenticated customer profile (`/users/me`)
      - Updating user account information and delivery address (`/users/updateMe`)
      - Retrieving past order history (`/users/orders`)
      - Managing book favourites and wishlist items (`/users/favBooks`)
      - Administrator user catalog querying with multi-field regex filters and pagination (`/users/all`)
      - Administrator single user lookup by ID (`/users/{userId}`)
  - name: wishlist
    description: |
      Customer book wishlist and saved items management endpoints.

      Includes:
      - Retrieving all saved books in customer's wishlist with populated book catalog details (`/wishlist`)
      - Adding books to personal wishlist with real-time catalog existence and duplicate validation (`/wishlist/{bookId}`)
      - Removing books from customer wishlist (`/wishlist/{bookId}`)
paths:
  /auth/register:
    post:
      operationId: registerUser
      security: []
      tags:
        - auth
      summary: Register a new user account
      description: |
        Creates a new customer account in the BookStore database using the supplied personal details,
        contact numbers, date of birth, and physical delivery address.

        Upon account creation:
        1. A user record is persisted in MongoDB with `role: "user"`, `isEmailVerified: false`, `isActive: true`, and an empty cart and favourites list.
        2. A 6-digit numeric verification OTP is generated with a 30-second expiration window (`verificationTokenExpiry`).
        3. An HTML verification email is dispatched via Nodemailer to the user's email address (or development mailbox).
        4. If the email fails to deliver, the newly created user record is rolled back and deleted from the database.
        5. The client must submit the received OTP to `/auth/verifyOtp` within 30 seconds to verify their email and obtain an access token.

        Rate limit: 5 requests per minute.
      requestBody:
        required: true
        description: Personal and delivery details required to register a customer account.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterUserRequest'
            example:
              name: Panchal Keyur
              email: panchalkeyur.dev@gmail.com
              password: hello-1234
              dateOfBirth: '2005-06-08'
              phoneNumber: 1234567890
              gender: male
              address:
                line: vastral
                street: Dakor
                city: amdavad
                state: guj
                zipCode: 382418
                country: ind
      responses:
        '200':
          description: |
            User successfully registered and verification OTP dispatched to email.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegisterUserResponse'
              example:
                status: success
                message: user is registered, otp is being sent to email for verification
                data:
                  _id: 6ab8c6b4deb5c92fda07308a
                  name: Panchal Keyur
                  email: panchalkeyur.dev@gmail.com
                  isEmailVerified: false
                  role: user
                  dateOfBirth: '2005-06-08T00:00:00.000Z'
                  phoneNumber: 1234567890
                  gender: male
                  address:
                    line: vastral
                    street: Dakor
                    city: amdavad
                    state: guj
                    zipCode: 382418
                    country: ind
                  isActive: true
                  totalOrderes: 0
                  totalSpent: 0
                  cart: []
                  faviourites: []
                  createdAt: '2026-09-27T07:33:08.757Z'
                  updatedAt: '2026-09-27T07:33:08.757Z'
        '400':
          description: |
            Validation error in submitted registration attributes or failure to dispatch verification email.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                invalidName:
                  summary: Name validation error
                  value:
                    status: Error
                    message: please enter correct name
                emptyEmail:
                  summary: Missing email
                  value:
                    status: Error
                    message: email field should not be empty
                invalidEmail:
                  summary: Invalid email format
                  value:
                    status: Error
                    message: please provide valid email address
                missingPassword:
                  summary: Missing password
                  value:
                    status: Error
                    message: please enter correct password
                invalidDateOfBirth:
                  summary: Missing or invalid date of birth
                  value:
                    status: Error
                    message: please enter your date of birth
                invalidPhoneNumber:
                  summary: Phone number not 10 digits
                  value:
                    status: Error
                    message: phoneNumber lenght must be 10 characters
                invalidGender:
                  summary: Invalid gender value
                  value:
                    status: Error
                    message: Invalid gender selection
                emptyAddress:
                  summary: Missing address field
                  value:
                    status: Error
                    message: address field should not be empty
                emailSendFailed:
                  summary: Nodemailer delivery failure
                  value:
                    status: Error
                    message: failed to send an otp, please try again later
        '429':
          description: Rate limit exceeded (maximum 5 requests per minute).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                status: Error
                message: Too many requests. Please try again later
  /auth/login:
    post:
      operationId: loginUser
      security: []
      tags:
        - auth
      summary: Authenticate user and receive JWT access token
      description: |
        Authenticates an existing user account using email and password credentials.

        Authentication flow:
        1. Express-validator checks that email and password fields are present and well-formed.
        2. User is looked up in MongoDB by email address.
        3. check if user account is deactivated, if it is then return error message
        4. The submitted plain password is verified against the bcrypt password hash.
        5. A JSON Web Token (JWT) signed with `JWT_SECRET_KEY` and configured expiration (`JWT_EXPIRES`) is generated containing the user ID payload `{ id: userId }`.
        6. The JWT token and complete user profile are returned to the client.

        Client requests to protected endpoints must supply this token in the header:
        `Authorization: Bearer <JWT_TOKEN>`

        Rate limit: 5 requests per minute.
      requestBody:
        required: true
        description: User credentials for login authentication.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
            example:
              email: hello-1@gmail.com
              password: hello-1234
      responses:
        '200':
          description: Authentication successful; JWT access token returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'
              example:
                status: success
                token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
                data:
                  _id: 683aa9c34ae6c56e60594eb2
                  name: hello-1
                  email: hello-1@gmail.com
                  isEmailVerified: true
                  role: user
                  dateOfBirth: '2005-06-08T00:00:00.000Z'
                  phoneNumber: 1234567890
                  gender: male
                  address:
                    line: 6 nilkanth row house
                    street: vastral
                    city: amdavad
                    state: guj
                    zipCode: 382418
                    country: ind
                  isActive: true
                  totalOrderes: 0
                  totalSpent: 0
                  cart: []
                  faviourites:
                    - 6836a66013f0b230bee67c1f
                    - 683697c5c4efe00d7ca88e5a
                  createdAt: '2025-05-31T07:03:31.815Z'
                  updatedAt: '2025-05-31T07:03:31.815Z'
        '400':
          description: Validation error in email or password fields.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                emptyEmail:
                  summary: Missing email
                  value:
                    status: Error
                    message: email field should not be empty
                invalidEmail:
                  summary: Invalid email format
                  value:
                    status: Error
                    message: please provide valid email address
                missingPassword:
                  summary: Missing password
                  value:
                    status: Error
                    message: please enter correct password
        '401':
          description: Incorrect password supplied for account.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                invalidPassword:
                  summary: Password incorrect
                  value:
                    status: Error
                    message: your password is incorrect, please enter correct password
                inactiveAccount:
                  summary: Account deactivated
                  value:
                    status: Error
                    message: your account has been deactivated
        '404':
          description: No registered user found matching the provided email address.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                status: Error
                message: 'No user found '
        '429':
          description: Rate limit exceeded (maximum 5 requests per minute).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                status: Error
                message: Too many requests. Please try again later
  /auth/verifyOtp:
    post:
      operationId: verifyOtp
      security: []
      tags:
        - auth
      summary: Verify email verification OTP
      description: |
        Verifies the 6-digit one-time password (OTP) sent to the user's email during registration.

        Verification logic:
        1. Client provides `email` and the 6-digit `otp`.
        2. Server checks if the user account exists in MongoDB.
        3. Verifies whether the account is already verified (`isEmailVerified === true`).
        4. Checks whether the OTP has expired (`Date.now() > verificationTokenExpiry`).
        5. Validates the submitted OTP against the stored `emailVerifiedToken`.
        6. Upon successful verification:
           - `isEmailVerified` is updated to `true`.
           - `emailVerifiedToken` and `verificationTokenExpiry` are cleared.
           - A signed JWT access token is minted and returned so the user can immediately interact with protected endpoints.

        Rate limit: 5 requests per minute.
      requestBody:
        required: true
        description: Email address and 6-digit verification OTP.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VerifyOtpRequest'
            example:
              email: panchalkeyur.dev@gmail.com
              otp: 151858
      responses:
        '200':
          description: OTP verified successfully; email marked verified and JWT access token issued.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerifyOtpResponse'
              example:
                status: success
                message: otp verified successfully
                token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
                data:
                  _id: 6abe528d92d30f6fb4097f64
                  name: Panchal Keyur
                  email: panchalkeyur.dev@gmail.com
                  isEmailVerified: true
                  role: user
                  dateOfBirth: '2005-06-08T00:00:00.000Z'
                  phoneNumber: 1234567890
                  gender: male
                  address:
                    line: near metro station, indiranagar
                    street: 10th main road
                    city: bengaluru
                    state: kar
                    zipCode: 560038
                    country: ind
                  isActive: true
                  totalOrderes: 0
                  totalSpent: 0
                  cart: []
                  faviourites: []
                  createdAt: '2026-10-01T12:31:09.871Z'
                  updatedAt: '2026-10-01T12:31:09.871Z'
        '400':
          description: Missing OTP, user already verified, expired OTP, or incorrect OTP entered.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                missingOtp:
                  summary: Missing OTP
                  value:
                    status: Error
                    message: please provide an otp for verification
                alreadyVerified:
                  summary: User already verified
                  value:
                    status: Error
                    message: user already verified
                expiredOtp:
                  summary: OTP expired (after 30 seconds)
                  value:
                    status: Error
                    message: otp is expired
                incorrectOtp:
                  summary: Incorrect OTP value
                  value:
                    status: Error
                    message: please enter correct otp
        '404':
          description: No account exists matching the provided email address.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                status: Error
                message: user does not exists
        '429':
          description: Rate limit exceeded (maximum 5 requests per minute).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                status: Error
                message: Too many requests. Please try again later
  /auth/resendOtp:
    post:
      operationId: resendOtp
      security: []
      tags:
        - auth
      summary: Resend email verification OTP
      description: |
        Generates and sends a new 6-digit verification OTP to the user's registered email address.

        Endpoint rules:
        1. The account must exist in the database.
        2. If the user's email is already verified (`isEmailVerified === true`), resending is rejected with 400.
        3. A fresh OTP is generated with a new 30-second expiry timestamp.
        4. An HTML email with the new OTP is dispatched via Nodemailer.

        Rate limit: 5 requests per minute.
      requestBody:
        required: true
        description: Email address of the unverified customer account.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResendOtpRequest'
            example:
              email: panchalkeyur.dev@gmail.com
      responses:
        '200':
          description: New verification OTP sent successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResendOtpResponse'
              example:
                status: success
                message: otp is sent to email, please check your email
        '400':
          description: Missing email, user already verified, or email delivery failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                missingEmail:
                  summary: Missing email address
                  value:
                    status: Error
                    message: please provide your email
                alreadyVerified:
                  summary: User already verified
                  value:
                    status: Error
                    message: user already verified
                emailSendFailed:
                  summary: Nodemailer failure
                  value:
                    status: Error
                    message: failed to send an otp, please try again later
        '404':
          description: No account exists with the provided email address.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                status: Error
                message: user not found
        '429':
          description: Rate limit exceeded (maximum 5 requests per minute).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                status: Error
                message: Too many requests. Please try again later
  /auth/forgotpassword:
    post:
      operationId: forgotPassword
      security:
        - bearerAuth: []
      tags:
        - auth
      summary: Request password reset email link
      description: |
        Generates a secure password reset token and emails a reset link to the user.

        Security & controller requirements:
        1. **Protected Route**: Requires a valid JWT Bearer token in the `Authorization` header (`protect` middleware).
        2. The authenticated user must have a verified email address (`isEmailVerified === true`).
        3. The email to reset is provided in the request body.
        4. A 32-byte cryptographically secure random token is generated and SHA-256 hashed into `passwordResetToken` on the user record.
        5. The reset token has a 30-second expiry (`passwordExpires = Date.now() + 30 * 1000`).
        6. An email containing the password reset link `${protocol}://${host}/auth/resetPassword/${resetToken}` is sent to the customer.

        Rate limit: 5 requests per minute.
      requestBody:
        required: true
        description: Email address of the account requesting password reset.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ForgotPasswordRequest'
            example:
              email: panchalkeyur.dev@gmail.com
      responses:
        '200':
          description: Password reset email successfully dispatched.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForgotPasswordResponse'
              example:
                status: success
                message: email send successfully
        '400':
          description: Missing authentication token, missing email, user not found, or email dispatch failure.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                tokenMissingHeader:
                  summary: Missing Bearer token header
                  value:
                    status: Error
                    message: Token not found please register first
                emptyBearerToken:
                  summary: Empty Bearer token
                  value:
                    status: Error
                    message: Please login to access this page
                missingEmail:
                  summary: Missing email in request body
                  value:
                    status: Error
                    message: please provide email address
                userNotFound:
                  summary: User not found for email
                  value:
                    status: Error
                    message: user not found
                emailSendFailed:
                  summary: Nodemailer failure
                  value:
                    status: Error
                    message: Error occured while sending email, please try again later
        '403':
          description: Authenticated user's email address has not been verified.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                status: Error
                message: you are not verified, please verified first then try again
        '404':
          description: User associated with JWT token no longer exists in database.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                status: Error
                message: user not found, please register first
        '429':
          description: Rate limit exceeded (maximum 5 requests per minute).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                status: Error
                message: Too many requests. Please try again later
  /auth/resetpassword/{token}:
    post:
      operationId: resetPassword
      security:
        - bearerAuth: []
      tags:
        - auth
      summary: Reset user password using reset token
      description: |
        Changes the user's password using the unhashed password reset token received via email.

        Flow & controller requirements:
        1. **Protected Route**: Requires a valid JWT Bearer token in the `Authorization` header (`protect` middleware).
        2. The reset token is supplied as a URL path parameter `:token`.
        3. The server hashes `:token` with SHA-256 and searches for a user where `passwordResetToken` matches and `passwordExpires > Date.now()`.
        4. If the token is invalid or expired (30-second lifespan), an error is returned.
        5. The new `password` is set, `passwordResetToken` and `passwordExpires` are cleared to `undefined`, and the user document is saved (which triggers bcrypt hashing via Mongoose `pre('save')`).

        Rate limit: 5 requests per minute.
      parameters:
        - name: token
          in: path
          required: true
          description: Unhashed password reset token string extracted from the email link.
          schema:
            type: string
          example: a1b2c3d4e5f67890123456789abcdef0123456789abcdef0123456789abcdef0
      requestBody:
        required: true
        description: The new password to replace the current password.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResetPasswordRequest'
            example:
              password: hello-1234
      responses:
        '200':
          description: Password reset successfully completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResetPasswordResponse'
              example:
                status: success
                message: password chagned successfully
        '400':
          description: Missing authentication token, missing password, or invalid/expired reset token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                tokenMissingHeader:
                  summary: Missing Bearer token header
                  value:
                    status: Error
                    message: Token not found please register first
                emptyBearerToken:
                  summary: Empty Bearer token
                  value:
                    status: Error
                    message: Please login to access this page
                missingPassword:
                  summary: Missing password in body
                  value:
                    status: Error
                    message: please provide your password
                tokenInvalidOrExpired:
                  summary: Reset token invalid or expired
                  value:
                    status: Error
                    message: user not found
        '403':
          description: Authenticated user's email address has not been verified.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                status: Error
                message: you are not verified, please verified first then try again
        '404':
          description: User associated with JWT token no longer exists in database.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                status: Error
                message: user not found, please register first
        '429':
          description: Rate limit exceeded (maximum 5 requests per minute).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                status: Error
                message: Too many requests. Please try again later
  /admin/dashboard:
    get:
      operationId: getAdminDashboard
      security:
        - bearerAuth: []
      tags:
        - admin
      summary: Get admin dashboard statistics
      description: |
        Retrieves aggregated key performance statistics for the administrator dashboard.

        The dashboard aggregates:
        - Total revenue from non-cancelled orders
        - Total count of orders (all statuses)
        - Total books Ordered in system
        - Total sales and order count for the current month
        - Total sales and order count for the current year
        - Daily paid sales for the last 30 days
        - Best-selling book (by units sold and revenue)
        - Total registered users count
        - New users registered during the current month
        - User distribution by non-admin roles (user, seller, etc.)
        - Orders grouped by order status (paid, pending, cancelled, etc.)
        - Pending orders count
        - Books with low inventory (stock <= 10)

        Rate limit: 30 requests per minute.
      responses:
        '200':
          description: Dashboard statistics retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminDashboardResponse'
              example:
                status: success
                salesData:
                  totalRevenue:
                    total: 125000
                  totalOrders:
                    total: 250
                  totalBooks:
                    total: 85
                  monthlyTotal:
                    total: 18500
                    count: 42
                  yearlyTotal:
                    total: 125000
                    count: 250
                  dailySales:
                    - date: '2026-09-27'
                      sales: 1250
                      count: 5
                    - date: '2026-09-28'
                      sales: 2100
                      count: 8
                  topBook:
                    bookId: 6ab8c6b4deb5c92fda07308a
                    title: Clean Code
                    totalSold: 45
                    revenue: 13500
                userStats:
                  totalUsers:
                    count: 450
                  newUserThisMonth:
                    count: 38
                  userByRoles:
                    - role: user
                      count: 420
                    - role: seller
                      count: 30
                orderStats:
                  orderByStatus:
                    - orderStatus: paid
                      count: 210
                    - orderStatus: pending
                      count: 25
                    - orderStatus: cancelled
                      count: 15
                  pendingOrders:
                    count: 25
                lowInventory:
                  - title: Clean Code
                    author: Robert C. Martin
                    stock: 5
                  - title: The Pragmatic Programmer
                    author: Andrew Hunt
                    stock: 8
        '401':
          description: Authentication token missing or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                status: Error
                message: Please login to access this page
        '403':
          description: Authenticated user does not have administrator privileges.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                status: Error
                message: you are not allowed to perform this action
        '429':
          description: Rate limit exceeded (30 requests per minute).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                status: Error
                message: Too many requests. Please try again later
  /admin/getSalesAnalytics:
    get:
      operationId: getSalesAnalytics
      security:
        - bearerAuth: []
      tags:
        - admin
      summary: Get sales and revenue analytics
      description: |
        Retrieves aggregated sales metrics for non-cancelled orders grouped by day, week, or month.

        Optional query parameters allow filtering by date range (`startDate` and `endDate`)
        and selecting the aggregation period (`groupBy`):
        - `day`: Groups data daily (YYYY-MM-DD) [default]
        - `week`: Groups data weekly (YYYY-Www)
        - `month`: Groups data monthly (YYYY-MM)

        For each time bucket, the response returns:
        - `totalRevenue`: Sum of total prices
        - `avgRevenue`: Average order value
        - `totalOrders`: Count of orders
        - `totalItems`: Total quantity of books purchased

        Rate limit: 30 requests per minute.
      parameters:
        - name: startDate
          in: query
          required: false
          description: Earliest order creation date to include (inclusive).
          schema:
            type: string
            format: date
          example: '2026-01-01'
        - name: endDate
          in: query
          required: false
          description: Latest order creation date to include (inclusive).
          schema:
            type: string
            format: date
          example: '2026-10-01'
        - name: groupBy
          in: query
          required: false
          description: Time-series bucket granularity.
          schema:
            type: string
            enum:
              - day
              - week
              - month
            default: day
          example: day
      responses:
        '200':
          description: Sales analytics retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SalesAnalyticsResponse'
              example:
                status: success
                data:
                  - _id: '2026-10-01'
                    totalRevenue: 4500
                    avgRevenue: 450
                    totalOrders: 10
                    totalItems: 18
                  - _id: '2026-09-30'
                    totalRevenue: 3200
                    avgRevenue: 400
                    totalOrders: 8
                    totalItems: 12
        '401':
          description: Authentication token missing or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                status: Error
                message: Please login to access this page
        '403':
          description: Authenticated user does not have administrator privileges.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                status: Error
                message: you are not allowed to perform this action
        '429':
          description: Rate limit exceeded (30 requests per minute).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                status: Error
                message: Too many requests. Please try again later
  /admin/book/analytics:
    get:
      operationId: getBookAnalytics
      security:
        - bearerAuth: []
      tags:
        - admin
      summary: Get book catalog, sales, and review analytics
      description: |
        Returns three comprehensive analytical datasets across the bookstore:

        1. `booksAnalytic`: Total books, active books, inactive/deleted books, out-of-stock books, and low-stock books (< 100 units).
        2. `bookSaleAnalytics`: Top 10 best-selling books and top 10 low-selling books based on quantity sold in paid orders.
        3. `bookReviewAnalytics`: Top 10 most-rated books and top 10 highest-rated books (by average rating).
      responses:
        '200':
          description: Book catalog analytics retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BookAnalyticsResponse'
              example:
                stauts: success
                data:
                  booksAnalytic:
                    - total: 150
                      totalActiveBooks: 142
                      totalInactiveBooks: 8
                      outOfStockBooks: 4
                      lowStockBooks: 19
                  bookSaleAnalytics:
                    - bestSellingBooks:
                        - _id: 664b1f89e21b8c12a8901234
                          totalSold: 120
                          totalOrders: 65
                          book:
                            - _id: 664b1f89e21b8c12a8901234
                              title: Clean Code
                              price: 450
                              category: Action
                      lowSellingBooks:
                        - _id: 664b1f89e21b8c12a8909876
                          totalSold: 1
                          totalOrders: 1
                          book:
                            - _id: 664b1f89e21b8c12a8909876
                              title: Cobol Programming in Depth
                              price: 320
                              category: Biography
                  bookReviewAnalytics:
                    - mostRatedBook:
                        - bookId: 664b1f89e21b8c12a8901234
                          totalRating: 250
                          reviewCount: 55
                          avgRating: 4.55
                      highestRatedBook:
                        - bookId: 664b1f89e21b8c12a8905555
                          totalRating: 98
                          reviewCount: 20
                          avgRating: 4.9
        '401':
          description: Authentication token missing or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                status: Error
                message: Please login to access this page
        '403':
          description: Authenticated user does not have administrator privileges.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                status: Error
                message: you are not allowed to perform this action
  /admin/book/deadstock:
    get:
      operationId: getDeadMovingStocks
      security:
        - bearerAuth: []
      tags:
        - admin
      summary: Get books with zero sales in the last 30 days
      description: |
        Identifies stagnant inventory ("dead stock") books that have generated zero sales
        in paid orders over the past 30 days.

        Returns paginated book items with title, author, current stock, price, and `totalSold: 0`.
      parameters:
        - name: page
          in: query
          required: false
          description: Page number for pagination.
          schema:
            type: integer
            default: 1
            minimum: 1
          example: 1
        - name: limit
          in: query
          required: false
          description: Number of books per page.
          schema:
            type: integer
            default: 2
            minimum: 1
          example: 10
      responses:
        '200':
          description: Dead stock inventory retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeadStockResponse'
              example:
                status: success
                pagination:
                  totalItems: 8
                  totalPages: 4
                  currentPage: 1
                  hasNextPage: true
                data:
                  - _id: 664b1f89e21b8c12a8901234
                    title: Legacy Fortran Architecture
                    stock: 35
                    author: Walter Smith
                    price: 45
                    totalSold: 0
                  - _id: 664b1f89e21b8c12a8905678
                    title: Ancient Assembly Language
                    stock: 12
                    author: Alan Turing
                    price: 60
                    totalSold: 0
        '401':
          description: Authentication token missing or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                status: Error
                message: Please login to access this page
        '403':
          description: Authenticated user does not have administrator privileges.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                status: Error
                message: you are not allowed to perform this action
  /admin/book/performance:
    get:
      operationId: getBookPerformance
      security:
        - bearerAuth: []
      tags:
        - admin
      summary: Get comprehensive performance metrics for all books
      description: |
        Retrieves a paginated list of all books enriched with multi-dimensional performance data:
        - `orderAnalytics`: Total units sold and total revenue from paid orders.
        - `wishlistAnalytics`: Total times the book was wishlisted.
        - `bookRating`: Average customer review rating.
      parameters:
        - name: page
          in: query
          required: false
          description: Page number for pagination.
          schema:
            type: integer
            default: 1
            minimum: 1
          example: 1
        - name: limit
          in: query
          required: false
          description: Number of books per page.
          schema:
            type: integer
            default: 10
            minimum: 1
          example: 10
      responses:
        '200':
          description: Book performance metrics retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BookPerformanceResponse'
              example:
                status: success
                pagination:
                  totalItems: 50
                  totalPage: 5
                  currentPage: 1
                  hasNextPage: true
                data:
                  - _id: 664b1f89e21b8c12a8901234
                    title: Clean Code
                    author: Robert C. Martin
                    price: 450
                    stock: 25
                    category: Action
                    orderAnalytics:
                      - totalSold: 15
                        totalRevenue: 6750
                    wishlistAnalytics:
                      - totalWishlistCount: 8
                    bookRating:
                      - averageRating: 4.5
        '401':
          description: Authentication token missing or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                status: Error
                message: Please login to access this page
        '403':
          description: Authenticated user does not have administrator privileges.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                status: Error
                message: you are not allowed to perform this action
  /admin/book/category/revenue:
    get:
      operationId: getBookCategoryRevenue
      security:
        - bearerAuth: []
      tags:
        - admin
      summary: Get sales quantity and revenue distribution by book category
      description: |
        Calculates total units sold (`getSales`) and cumulative revenue (`getRevenue`) across all paid orders,
        mapped across standard bookstore categories:
        Fantasy, Action, Adventure, Mystery, Horror, Thriller, Romance, Self-help, and Biography.

        Categories without any sales return 0 for both fields.
      responses:
        '200':
          description: Category sales and revenue retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CategoryRevenueResponse'
              example:
                status: success
                data:
                  - category: Fantasy
                    getSales: 120
                    getRevenue: 48000
                  - category: Action
                    getSales: 85
                    getRevenue: 34000
                  - category: Adventure
                    getSales: 60
                    getRevenue: 24000
                  - category: Mystery
                    getSales: 45
                    getRevenue: 18000
                  - category: Horror
                    getSales: 20
                    getRevenue: 8000
                  - category: Thriller
                    getSales: 55
                    getRevenue: 22000
                  - category: Romance
                    getSales: 90
                    getRevenue: 36000
                  - category: Self-help
                    getSales: 110
                    getRevenue: 44000
                  - category: Biography
                    getSales: 30
                    getRevenue: 12000
        '401':
          description: Authentication token missing or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                status: Error
                message: Please login to access this page
        '403':
          description: Authenticated user does not have administrator privileges.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                status: Error
                message: you are not allowed to perform this action
  /admin/book/category/trend:
    get:
      operationId: getCategorySalesTrend
      security:
        - bearerAuth: []
      tags:
        - admin
      summary: Get month-by-month sales trends per category
      description: |
        Computes monthly sales quantities and revenue per category within a specified date range.

        Validations enforced:
        - `startDate` and `endDate` are required valid date strings.
        - `endDate` must be strictly after `startDate`.
        - The date range between `startDate` and `endDate` cannot exceed 1 year.

        Missing calendar months in the range are automatically densified with zero values.
      parameters:
        - name: startDate
          in: query
          required: true
          description: Start date in YYYY-MM-DD format.
          schema:
            type: string
            format: date
          example: '2026-01-01'
        - name: endDate
          in: query
          required: true
          description: End date in YYYY-MM-DD format (must be within 1 year from startDate).
          schema:
            type: string
            format: date
          example: '2026-09-01'
      responses:
        '200':
          description: Category sales trends retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CategoryTrendResponse'
              example:
                status: success
                data:
                  - year: 2026-01
                    category: Fantasy
                    totalQuantity: 25
                    totalRevenue: 12500
                  - year: 2026-02
                    category: Action
                    totalQuantity: 18
                    totalRevenue: 9000
        '400':
          description: Validation error in date parameters (e.g. missing dates, invalid format, end <= start, or range > 1 year).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                missingDates:
                  summary: Missing date parameters
                  value:
                    status: Error
                    message: Please enter start and end date
                invalidRange:
                  summary: Range exceeds one year
                  value:
                    status: Error
                    message: Date range cannot be more than 1 year
        '401':
          description: Authentication token missing or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                status: Error
                message: Please login to access this page
        '403':
          description: Authenticated user does not have administrator privileges.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                status: Error
                message: you are not allowed to perform this action
  /admin/book/rating/distribution:
    get:
      operationId: getBookRatingDistribution
      security:
        - bearerAuth: []
      tags:
        - admin
      summary: Get review rating distribution (1 to 5 stars) per book
      description: |
        Aggregates customer reviews grouped by book, displaying individual counts
        for 5-star, 4-star, 3-star, 2-star, and 1-star ratings.

        Results are paginated.
      parameters:
        - name: page
          in: query
          required: false
          description: Page number for pagination.
          schema:
            type: integer
            default: 1
            minimum: 1
          example: 1
        - name: limit
          in: query
          required: false
          description: Number of books per page.
          schema:
            type: integer
            default: 10
            minimum: 1
          example: 10
      responses:
        '200':
          description: Book rating distribution retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BookRatingDistributionResponse'
              example:
                status: success
                pagination:
                  totalItems: 45
                  totalPages: 5
                  currentPage: 1
                  hasNextPage: true
                data:
                  - bookId: 664b1f89e21b8c12a8901234
                    fiveStarRating: 25
                    fourStarRating: 12
                    threeStarRating: 5
                    twoStarRating: 2
                    oneStarRating: 1
        '401':
          description: Authentication token missing or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                status: Error
                message: Please login to access this page
        '403':
          description: Authenticated user does not have administrator privileges.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                status: Error
                message: you are not allowed to perform this action
  /admin/order/analytics:
    get:
      operationId: getOrderAnalytics
      security:
        - bearerAuth: []
      tags:
        - admin
      summary: Get order status counts and order cancellation analytics
      description: |
        Returns two high-level order metrics:
        1. `orderStatusAnalytics`: Total count of orders grouped by order status (e.g. paid, pending, cancelled).
        2. `orderCancellationAnalytics`: Total orders, number of cancelled orders, and calculated cancellation rate percentage.
      responses:
        '200':
          description: Order analytics retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderAnalyticsResponse'
              example:
                status: success
                data:
                  orderStatusAnalytics:
                    - orderStatus: paid
                      totalOrders: 150
                    - orderStatus: pending
                      totalOrders: 20
                    - orderStatus: cancelled
                      totalOrders: 10
                  orderCancellationAnalytics:
                    - totalOrders: 180
                      cancelledOrders: 10
                      cancellationRate: 5.56
        '401':
          description: Authentication token missing or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                status: Error
                message: Please login to access this page
        '403':
          description: Authenticated user does not have administrator privileges.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                status: Error
                message: you are not allowed to perform this action
  /admin/order/order-growth:
    get:
      operationId: getOrderGrowth
      security:
        - bearerAuth: []
      tags:
        - admin
      summary: Get daily order growth over a date range (up to 90 days)
      description: |
        Provides day-by-day order counts between `startDate` and `endDate`.

        Validations enforced:
        - Both `startDate` and `endDate` are required.
        - `startDate` cannot be later than `endDate`.
        - The time difference between the dates cannot exceed 90 days.

        Days without any order activity are automatically densified with a count of 0.
      parameters:
        - name: startDate
          in: query
          required: true
          description: Start date (YYYY-MM-DD).
          schema:
            type: string
            format: date
          example: '2026-09-01'
        - name: endDate
          in: query
          required: true
          description: End date (YYYY-MM-DD, within 90 days of startDate).
          schema:
            type: string
            format: date
          example: '2026-09-30'
      responses:
        '200':
          description: Daily order growth timeline retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderGrowthResponse'
              example:
                status: success
                data:
                  - date: '2026-09-01'
                    totalOrders: 12
                  - date: '2026-09-02'
                    totalOrders: 8
                  - date: '2026-09-03'
                    totalOrders: 0
        '400':
          description: Validation error in date parameters (e.g. missing dates, start > end, or difference > 90 days).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                missingDates:
                  summary: Missing date parameters
                  value:
                    status: Error
                    message: Please enter start and end date
                rangeExceeded:
                  summary: Range exceeds 90 days
                  value:
                    status: Error
                    message: Difference of date should not be bigger than 90 days
        '401':
          description: Authentication token missing or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                status: Error
                message: Please login to access this page
        '403':
          description: Authenticated user does not have administrator privileges.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                status: Error
                message: you are not allowed to perform this action
  /admin/order/avg-order-value:
    get:
      operationId: getAverageOrderValue
      security:
        - bearerAuth: []
      tags:
        - admin
      summary: Get monthly average order value (AOV) and revenue trends
      description: |
        Calculates the monthly average order value (`avgOrderValue`), count of completed paid orders (`completedOrders`),
        and total revenue for paid orders within the specified date range.

        Validations enforced:
        - `startDate` and `endDate` are required.
        - `endDate` must be strictly after `startDate`.
        - Date range cannot exceed 1 year.

        Months with zero orders return 0 for revenue and average order value.
      parameters:
        - name: startDate
          in: query
          required: true
          description: Start date (YYYY-MM-DD).
          schema:
            type: string
            format: date
          example: '2026-01-01'
        - name: endDate
          in: query
          required: true
          description: End date (YYYY-MM-DD, within 1 year from startDate).
          schema:
            type: string
            format: date
          example: '2026-10-01'
      responses:
        '200':
          description: Monthly average order value statistics retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AverageOrderValueResponse'
              example:
                status: success
                data:
                  - month: 2026-01
                    completedOrders: 45
                    totalRevenue: 20250
                    avgOrderValue: 450
                  - month: 2026-02
                    completedOrders: 50
                    totalRevenue: 24000
                    avgOrderValue: 480
        '400':
          description: Validation error in date parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                missingDates:
                  summary: Missing date parameters
                  value:
                    status: Error
                    message: please enter start and end date
                rangeExceeded:
                  summary: Range exceeds one year
                  value:
                    status: Error
                    message: The date range cannot exceed one year
        '401':
          description: Authentication token missing or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                status: Error
                message: Please login to access this page
        '403':
          description: Authenticated user does not have administrator privileges.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                status: Error
                message: you are not allowed to perform this action
  /admin/customer/analytics:
    get:
      operationId: getCustomerAnalytics
      security:
        - bearerAuth: []
      tags:
        - admin
      summary: Get customer growth, top-spending customers, and returning customer rate
      description: |
        Provides in-depth customer engagement and retention statistics:
        1. `userAnalytics`: Monthly count of newly registered users over the date range (densified with 0).
        2. `topPayingCustomers`: Top 10 customers ranked by total money spent on completed paid orders.
        3. `returningCustomers`: Total unique buyers, count of repeat customers (> 1 paid order), and returning customer rate percentage.

        Validations enforced:
        - `startDate` and `endDate` are required.
        - `endDate` must be greater than or equal to `startDate`.
        - Date range cannot exceed 1 year.
      parameters:
        - name: startDate
          in: query
          required: true
          description: Start date (YYYY-MM-DD).
          schema:
            type: string
            format: date
          example: '2026-01-01'
        - name: endDate
          in: query
          required: true
          description: End date (YYYY-MM-DD, within 1 year from startDate).
          schema:
            type: string
            format: date
          example: '2026-10-01'
      responses:
        '200':
          description: Customer analytics retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerAnalyticsResponse'
              example:
                status: success
                data:
                  userAnalytics:
                    - month: 2026-01
                      totalUsers: 15
                    - month: 2026-02
                      totalUsers: 28
                  topPayingCustomers:
                    - customerId: 664b1f89e21b8c12a8901234
                      totalOrders: 12
                      totalMoneySpent: 5400
                    - customerId: 664b1f89e21b8c12a8905678
                      totalOrders: 8
                      totalMoneySpent: 4100
                  returningCustomers:
                    - totalCustomers: 120
                      returningCustomers: 35
                      returningCustomersRate: 29.17
        '400':
          description: Validation error in date parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                missingDates:
                  summary: Missing date parameters
                  value:
                    status: Error
                    message: Start date and end date are required
                rangeExceeded:
                  summary: Range exceeds one year
                  value:
                    status: Error
                    message: The date range cannot exceed one year
        '401':
          description: Authentication token missing or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                status: Error
                message: Please login to access this page
        '403':
          description: Authenticated user does not have administrator privileges.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                status: Error
                message: you are not allowed to perform this action
  /admin/payment/analytics:
    get:
      operationId: getPaymentAnalytics
      security:
        - bearerAuth: []
      tags:
        - admin
      summary: Get payment success/failure volumes, amounts, and conversion rates
      description: |
        Analyzes transaction history and financial performance across payment statuses:
        - `paymentStatusAnalytics`: Volume counts and financial amounts partitioned into successful (`paid`), failed (`failed`), and refunded (`cancelled`) categories.
        - `paymentStatusRate`: Total payment attempts, success rate percentage, and failure rate percentage rounded to two decimal places.
      responses:
        '200':
          description: Payment analytics retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentAnalyticsResponse'
              example:
                status: success
                data:
                  paymentStatusAnalytics:
                    - successfullPayments: 180
                      successfullAmounts: 81000
                      failedPayments: 12
                      failedAmounts: 5400
                      refundedPayments: 5
                      refundedAmounts: 2250
                  paymentStatusRate:
                    - successfullPayments: 185
                      failedPayments: 12
                      totalPayments: 197
                      successRate: 93.91
                      failedRate: 6.09
        '401':
          description: Authentication token missing or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                status: Error
                message: Please login to access this page
        '403':
          description: Authenticated user does not have administrator privileges.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                status: Error
                message: you are not allowed to perform this action
  /admin/activateUser/{userId}:
    patch:
      operationId: activateUser
      security:
        - bearerAuth: []
      tags:
        - admin
      summary: Activate / unsuspend a user account
      description: |
        Restores and activates a suspended user account by setting `isActive: true` and persisting the change with `user.save()`.
        Once activated, the customer regains access to their account, can log in, and place bookstore orders.

        ### Authentication & Access Control
        - **Required Authentication**: Bearer JWT token in the `Authorization` header (`protect` middleware).
        - **Role Restriction**: Strictly restricted to administrators (`restrictTo("admin")`).

        ### Validation & Rate Limiting
        - **ID Validation**: `validateId("userId")` validates that `userId` is a valid 24-character hexadecimal MongoDB ObjectId. Returns HTTP `400 Bad Request` (`"Invalid Id, please enter correct id"`) if malformed.
        - **Rate Limiting**: Protected by `mutationLimiter` (maximum **10 mutation requests per minute**) and router-level `getRateLimiter` (maximum **30 requests per minute**).
      parameters:
        - name: userId
          in: path
          required: true
          description: 24-character hexadecimal MongoDB ObjectId of the user account to activate.
          schema:
            type: string
            pattern: ^[0-9a-fA-F]{24}$
          example: 683aa9c34ae6c56e60594eb2
      responses:
        '200':
          description: User account activated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivateUserResponse'
              example:
                status: success
                message: User is activated
                data:
                  _id: 683aa9c34ae6c56e60594eb2
                  name: John Doe
                  email: johndoe@example.com
                  isEmailVerified: true
                  role: user
                  dateOfBirth: '2000-01-15T00:00:00.000Z'
                  phoneNumber: 1234567890
                  gender: male
                  isActive: true
                  totalOrderes: 3
                  totalSpent: 1250
                  cart: []
                  faviourites: []
                  createdAt: '2025-05-31T07:03:31.815Z'
                  updatedAt: '2026-10-09T12:00:00.000Z'
        '400':
          description: Invalid MongoDB ObjectId format.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                status: Error
                message: Invalid Id, please enter correct id
        '401':
          description: Authentication token missing or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                missingToken:
                  summary: Bearer token omitted
                  value:
                    status: Error
                    message: Token not found please register first
                invalidToken:
                  summary: Token invalid or expired
                  value:
                    status: Error
                    message: Please login to access this page
        '403':
          description: Authenticated user does not have administrator privileges.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                status: Error
                message: you are not allowed to perform this action
        '404':
          description: User ID not provided or user not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                userNotFound:
                  summary: User account not found in database
                  value:
                    status: Error
                    message: user not found
                missingUserId:
                  summary: User ID missing from parameter
                  value:
                    status: Error
                    message: please provide user id
        '429':
          description: Rate limit exceeded (10 mutation requests per minute).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                status: Error
                message: Too many requests. Please try again later
  /admin/deactivateUser/{userId}:
    patch:
      operationId: deactivateUser
      security:
        - bearerAuth: []
      tags:
        - admin
      summary: Suspend / deactivate a user account
      description: |
        Suspends and deactivates a user account by setting `isActive: false` using `User.findByIdAndUpdate`.
        Once deactivated, the user is blocked from logging in or performing customer operations, and excluded from public user queries.

        ### Authentication & Access Control
        - **Required Authentication**: Bearer JWT token in the `Authorization` header (`protect` middleware).
        - **Role Restriction**: Strictly restricted to administrators (`restrictTo("admin")`).

        ### Security & Business Constraints
        - **Self-Deactivation Guard**: An administrator cannot suspend their own account (`userId === req.user.id`). Attempting to do so returns HTTP `400 Bad Request` (`"You can't deactivate your self"`).
        - **Admin Account Protection**: Administrators cannot suspend other administrator accounts (`user.role === 'admin'`). Attempting to do so returns HTTP `400 Bad Request` (`"You can't deactivate admin user"`).

        ### Validation & Rate Limiting
        - **ID Validation**: `validateId("userId")` validates that `userId` is a valid 24-character hexadecimal MongoDB ObjectId. Returns HTTP `400 Bad Request` (`"Invalid Id, please enter correct id"`) if malformed.
        - **Rate Limiting**: Protected by `mutationLimiter` (maximum **10 mutation requests per minute**) and router-level `getRateLimiter` (maximum **30 requests per minute**).
      parameters:
        - name: userId
          in: path
          required: true
          description: 24-character hexadecimal MongoDB ObjectId of the user account to deactivate.
          schema:
            type: string
            pattern: ^[0-9a-fA-F]{24}$
          example: 683aa9c34ae6c56e60594eb2
      responses:
        '200':
          description: User account suspended successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeactivateUserResponse'
              example:
                status: success
                message: User is suspended
                data:
                  _id: 683aa9c34ae6c56e60594eb2
                  name: John Doe
                  email: johndoe@example.com
                  isEmailVerified: true
                  role: user
                  dateOfBirth: '2000-01-15T00:00:00.000Z'
                  phoneNumber: 1234567890
                  gender: male
                  isActive: false
                  totalOrderes: 3
                  totalSpent: 1250
                  cart: []
                  faviourites: []
                  createdAt: '2025-05-31T07:03:31.815Z'
                  updatedAt: '2026-10-09T12:00:00.000Z'
        '400':
          description: Validation error or forbidden deactivation constraint.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                invalidId:
                  summary: Invalid MongoDB ObjectId format
                  value:
                    status: Error
                    message: Invalid Id, please enter correct id
                selfDeactivation:
                  summary: Administrator attempting self-suspension
                  value:
                    status: Error
                    message: You can't deactivate your self
                deactivateAdmin:
                  summary: Attempting to deactivate another administrator
                  value:
                    status: Error
                    message: You can't deactivate admin user
        '401':
          description: Authentication token missing or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                missingToken:
                  summary: Bearer token omitted
                  value:
                    status: Error
                    message: Token not found please register first
                invalidToken:
                  summary: Token invalid or expired
                  value:
                    status: Error
                    message: Please login to access this page
        '403':
          description: Authenticated user does not have administrator privileges.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                status: Error
                message: you are not allowed to perform this action
        '404':
          description: User ID not provided or user not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                userNotFound:
                  summary: User account not found in database
                  value:
                    status: Error
                    message: user not found
                missingUserId:
                  summary: User ID missing
                  value:
                    status: Error
                    message: User id not found
        '429':
          description: Rate limit exceeded (10 mutation requests per minute).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                status: Error
                message: Too many requests. Please try again later
  /admin/change-role/{userId}:
    patch:
      operationId: changeUserRole
      security:
        - bearerAuth: []
      tags:
        - admin
      summary: Modify a user's role
      description: |
        Changes the authorization role of a user account. Permits switching between `"user"` and `"admin"`.

        ### Authentication & Access Control
        - **Required Authentication**: Bearer JWT token in the `Authorization` header (`protect` middleware).
        - **Role Restriction**: Strictly restricted to administrators (`restrictTo("admin")`).

        ### Security & Role Constraints
        - **Self-Role Modification Guard**: An administrator cannot alter their own role (`userId === req.user.id`). Attempting to do so returns HTTP `400 Bad Request` (`"You can't change your role"`).
        - **Valid Role Enforcements**: Only roles included in `["admin", "user"]` are accepted. Any other string value triggers HTTP `400 Bad Request` (`"Please provide valid role"`).

        ### Validation & Rate Limiting
        - **ID Validation**: `validateId("userId")` validates that `userId` is a valid 24-character hexadecimal MongoDB ObjectId. Returns HTTP `400 Bad Request` (`"Invalid Id, please enter correct id"`) if malformed.
        - **Rate Limiting**: Protected by `mutationLimiter` (maximum **10 mutation requests per minute**) and router-level `getRateLimiter` (maximum **30 requests per minute**).
      parameters:
        - name: userId
          in: path
          required: true
          description: 24-character hexadecimal MongoDB ObjectId of the target user whose role is to be updated.
          schema:
            type: string
            pattern: ^[0-9a-fA-F]{24}$
          example: 683aa9c34ae6c56e60594eb2
      requestBody:
        required: true
        description: JSON payload containing the new role assignment.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChangeUserRoleRequest'
            example:
              role: admin
      responses:
        '200':
          description: User role updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChangeUserRoleResponse'
              example:
                status: success
                message: User role changed successfully
                data:
                  _id: 683aa9c34ae6c56e60594eb2
                  name: John Doe
                  email: johndoe@example.com
                  isEmailVerified: true
                  role: admin
                  dateOfBirth: '2000-01-15T00:00:00.000Z'
                  phoneNumber: 1234567890
                  gender: male
                  isActive: true
                  totalOrderes: 3
                  totalSpent: 1250
                  cart: []
                  faviourites: []
                  createdAt: '2025-05-31T07:03:31.815Z'
                  updatedAt: '2026-10-09T12:00:00.000Z'
        '400':
          description: Invalid ObjectId, unrecognized role, or prohibited self-role change.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                invalidId:
                  summary: Invalid MongoDB ObjectId format
                  value:
                    status: Error
                    message: Invalid Id, please enter correct id
                invalidRole:
                  summary: Role is not 'admin' or 'user'
                  value:
                    status: Error
                    message: Please provide valid role
                selfRoleChange:
                  summary: Administrator attempting to change their own role
                  value:
                    status: Error
                    message: You can't change your role
        '401':
          description: Authentication token missing or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                missingToken:
                  summary: Bearer token omitted
                  value:
                    status: Error
                    message: Token not found please register first
                invalidToken:
                  summary: Token invalid or expired
                  value:
                    status: Error
                    message: Please login to access this page
        '403':
          description: Authenticated user does not have administrator privileges.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                status: Error
                message: you are not allowed to perform this action
        '404':
          description: User not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                status: Error
                message: user not found
        '429':
          description: Rate limit exceeded (10 mutation requests per minute).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                status: Error
                message: Too many requests. Please try again later
  /books:
    get:
      operationId: getAllBooks
      security: []
      tags:
        - books
      summary: Retrieve all books with search, sort, and pagination
      description: |
        Retrieves a paginated collection of active books from the catalog.

        Supports keyword filtering by book title and author using case-insensitive
        regular expressions (`$regex`, `$options: "i"`). Results can be sorted in
        descending (newest) or ascending (oldest) chronological order by creation date.

        ### Soft Deletion & Visibility
        Soft-deleted books (`isDeleted: true`) are automatically excluded from the
        result set by a Mongoose `pre(/^find/)` query middleware.

        ### Search & Filtering Capabilities
        - **Title Search**: Substring match against book titles.
        - **Author Search**: Substring match against author names.
        - Both filters can be used independently or combined.

        ### Sorting Behavior
        - `sort=new` (default): Sorts descending by `-createdAt` (newest books first).
        - `sort=old`: Sorts ascending by `createdAt` (oldest books first).
        - Any unrecognized sort parameter defaults to `new`.

        ### Pagination Rules
        - `page`: 1-based page index (defaults to `1`).
        - `limit`: Number of records returned per page (defaults to `10`).
        - **Upper Bound**: If `limit` exceeds `100`, the server automatically caps it at `100`.
        - Computes `skip = (page - 1) * limit`.
        - Computes `totalPages = Math.ceil(totalItems / limit)` and `hasNextPage = page < totalPages`.

        ### Rate Limiting
        - Protected by `getRateLimiter`: Maximum **30 requests per minute** per client IP.
      parameters:
        - name: title
          in: query
          required: false
          description: |
            Case-insensitive substring search for book title.
            Matches any book whose title contains the specified query text.
          schema:
            type: string
          example: clean
        - name: author
          in: query
          required: false
          description: |
            Case-insensitive substring search for author name.
            Matches any book written by an author matching the query string.
          schema:
            type: string
          example: martin
        - name: sort
          in: query
          required: false
          description: |
            Ordering criterion for the returned books:
            - `new`: Newest books first (sorted descending by creation date `-createdAt`).
            - `old`: Oldest books first (sorted ascending by creation date `createdAt`).
            Defaults to `new` if omitted or if an invalid option is provided.
          schema:
            type: string
            enum:
              - new
              - old
            default: new
          example: new
        - name: page
          in: query
          required: false
          description: |
            1-based page number for paginated results.
          schema:
            type: integer
            minimum: 1
            default: 1
          example: 1
        - name: limit
          in: query
          required: false
          description: |
            Number of book records returned per page. Maximum allowed value is 100.
            Values exceeding 100 are automatically clamped to 100 by the server.
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 10
          example: 10
      responses:
        '200':
          description: Books successfully retrieved with pagination metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAllBooksResponse'
              examples:
                booksFound:
                  summary: Books found matching criteria
                  value:
                    status: success
                    length: 2
                    pagination:
                      totalItems: 42
                      totalPages: 5
                      currentPage: 1
                      hasNextPage: true
                    message: all books found
                    data:
                      - _id: 683aab454ae6c56e60594eb7
                        title: 'Clean Code: A Handbook of Agile Software Craftsmanship'
                        author: Robert C. Martin
                        stock: 35
                        description: A comprehensive handbook for software craftsmen containing best practices, principles, and code smells.
                        totalSales: 89
                        price: 38.99
                        category: Self-help
                        coverImage: https://res.cloudinary.com/bookstore/image/upload/v1717145678/BookStore/clean-code.jpg
                        ratingAverage: 4.7
                        ratingQuantity: 112
                        createdAt: '2026-05-30T10:15:30.000Z'
                        isDeleted: false
                      - _id: 683aab454ae6c56e60594eb8
                        title: The Pragmatic Programmer
                        author: Andrew Hunt, David Thomas
                        stock: 20
                        description: 'Your journey to mastery: continuous learning, career growth, and software craft.'
                        totalSales: 64
                        price: 42.5
                        category: Self-help
                        coverImage: https://res.cloudinary.com/bookstore/image/upload/v1717145690/BookStore/pragmatic-programmer.jpg
                        ratingAverage: 4.9
                        ratingQuantity: 95
                        createdAt: '2026-05-28T08:22:15.000Z'
                        isDeleted: false
                emptyResults:
                  summary: No books matched the query filters
                  value:
                    status: success
                    length: 0
                    pagination:
                      totalItems: 0
                      totalPages: 0
                      currentPage: 1
                      hasNextPage: false
                    message: books not found
                    data: []
        '400':
          description: Invalid query parameters provided.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                status: Error
                message: Invalid query parameters
        '429':
          description: Rate limit exceeded (30 requests per minute).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                status: Error
                message: Too many requests. Please try again later
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                status: Error
                message: Internal Server Error
    post:
      operationId: createBook
      security:
        - bearerAuth: []
      tags:
        - books
      summary: Create a new book with cover image upload
      description: |
        Creates and registers a new book entity in the bookstore catalog.

        This operation is restricted to verified administrators (`role: 'admin'`).
        The request must be transmitted as `multipart/form-data` to accommodate
        both book metadata fields and the binary image file for the book's cover.

        ### Creation & Upload Flow
        1. **Authentication**: Caller provides a valid JWT Bearer token in the `Authorization` header.
        2. **Authorization**: `restrictTo("admin")` middleware verifies the caller holds `admin` role and that their email is verified.
        3. **Rate Limiting**: `mutationLimiter` restricts the caller to **10 mutations per minute**.
        4. **File Handling**: Multer parses the multipart request, extracting the file from field `coverImage` and writing it to temporary disk storage (`uploads/`).
        5. **Validation**: `validateBooks` validates the presence and constraints of `title`, `author`, `stock`, `description`, `price`, and `category`.
        6. **Cloudinary Upload**: The server uploads the temporary cover image to Cloudinary under the `"BookStore"` folder.
        7. **Cleanup**: The local temporary file is deleted from disk using `fs.unlink`.
        8. **Database Persistence**: A new document is saved in MongoDB with the resulting Cloudinary HTTPS URL and initial defaults (`totalSales: 0`, `ratingAverage: 0`, `ratingQuantity: 0`, `isDeleted: false`).
        9. **Response**: Returns HTTP `201 Created` with the complete book document.

        ### Validation Rules
        - `title`: String, trimmed, non-empty, minimum length of 2 characters.
        - `author`: String, non-empty.
        - `stock`: Numeric, non-empty, non-negative integer.
        - `description`: String, non-empty.
        - `price`: Numeric, non-empty, non-negative, minimum length 1 character.
        - `category`: Must match one of the predefined categories: `Fantasy`, `Action`, `Adventure`, `Mystery`, `Horror`, `Thriller`, `Romance`, `Self-help`, `Biography`. Cannot be empty.
        - `coverImage`: Required binary file representing the book cover art.
      requestBody:
        required: true
        description: |
          Multipart form data containing book metadata and the cover image file.
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/CreateBookRequest'
            encoding:
              coverImage:
                contentType: image/png, image/jpeg, image/webp
      responses:
        '201':
          description: Book successfully created and added to the catalog.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BookResponse'
              example:
                status: success
                message: Book is created
                data:
                  _id: 683aab454ae6c56e60594eb7
                  title: Atomic Habits
                  author: James Clear
                  stock: 50
                  description: An Easy & Proven Way to Build Good Habits & Break Bad Ones. Tiny Changes, Remarkable Results.
                  totalSales: 0
                  price: 19.99
                  category: Self-help
                  coverImage: https://res.cloudinary.com/bookstore/image/upload/v1717145678/BookStore/atomic-habits.jpg
                  ratingAverage: 0
                  ratingQuantity: 0
                  createdAt: '2026-10-04T12:00:00.000Z'
                  isDeleted: false
        '400':
          description: Validation error or book creation failure.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                emptyTitle:
                  summary: Missing book title
                  value:
                    status: Error
                    message: please enter book name
                shortTitle:
                  summary: Book title less than 2 characters
                  value:
                    status: Error
                    message: please enter correct book name
                emptyAuthor:
                  summary: Missing author
                  value:
                    status: Error
                    message: author field should not be empty
                invalidAuthor:
                  summary: Author not a string
                  value:
                    status: Error
                    message: please provide correct book's author
                emptyStock:
                  summary: Missing inventory stock
                  value:
                    status: Error
                    message: please enter stock field
                invalidStock:
                  summary: Non-numeric inventory stock
                  value:
                    status: Error
                    message: please enter correct stock
                emptyDescription:
                  summary: Missing description
                  value:
                    status: Error
                    message: please enter your description field
                invalidDescription:
                  summary: Description not a string
                  value:
                    status: Error
                    message: please provide correct description
                emptyPrice:
                  summary: Missing price
                  value:
                    status: Error
                    message: please enter your price field
                invalidPrice:
                  summary: Non-numeric price
                  value:
                    status: Error
                    message: please enter correct price
                shortPrice:
                  summary: Price length less than 1
                  value:
                    status: Error
                    message: price min length must be 1 characters
                invalidCategory:
                  summary: Category not in allowed enum list
                  value:
                    status: Error
                    message: please provide category according to list
                emptyCategory:
                  summary: Category field empty
                  value:
                    status: Error
                    message: address field should not be empty
                creationFailed:
                  summary: Creation operation failed
                  value:
                    status: Error
                    message: books is not created yet, please try again later
        '401':
          description: Missing or invalid JWT authentication token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                missingToken:
                  summary: Bearer token omitted
                  value:
                    status: Error
                    message: Token not found please register first
                invalidToken:
                  summary: Token invalid or expired
                  value:
                    status: Error
                    message: Please login to access this page
        '403':
          description: Authenticated user lacks administrator privileges or is unverified.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                nonAdminRole:
                  summary: User does not hold admin role
                  value:
                    status: Error
                    message: you are not allowed to perform this action
                unverifiedAccount:
                  summary: Administrator account email not verified
                  value:
                    status: Error
                    message: you are not verified, please verified first then try again
        '429':
          description: Rate limit exceeded (10 mutations per minute).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                status: Error
                message: Too many requests. Please try again later
        '500':
          description: Internal server error or Cloudinary upload failure.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                status: Error
                message: Internal Server Error
  /books/{bookId}:
    get:
      operationId: getBookById
      security: []
      tags:
        - books
      summary: Retrieve a book by its unique ID (with Redis caching)
      description: |
        Retrieves detailed information for a specific book identified by its unique MongoDB ObjectId.

        ### High-Performance Redis Caching
        This endpoint implements a **cache-aside** caching strategy using Redis:
        1. The server checks for the Redis key `book:{bookId}`.
        2. **Cache Hit**: If the key exists, cached JSON data is parsed and returned immediately without accessing the MongoDB database.
[...]
