openapi: 3.1.0

info:
  title: BookStore REST API
  version: 1.0.0
  description: |
    REST API for an online bookstore.

    This API provides authentication, user management, book management,
    cart, favourites, orders, and other bookstore-related functionality.
  license:
    name: Apache 2.0
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"

servers:
  - url: http://bookstore.kplabs.com/api
    description: Local Development Server

tags:
  - name: auth
    description: |
      Authentication and account verification endpoints.

      Includes:
      - User registration
      - User login
      - Email OTP verification
      - Resending OTP
      - Forgot password
      - Reset password

paths:
  # ============================================================
  # AUTHENTICATION ROUTES
  # ============================================================

  /auth/register:
    $ref: "./auth.yaml#/register"

  /auth/login:
    $ref: "./auth.yaml#/login"

  /auth/verifyOtp:
    $ref: "./auth.yaml#/verifyOtp"

  /auth/resendOtp:
    $ref: "./auth.yaml#/resendOtp"

  /auth/forgotpassword:
    $ref: "./auth.yaml#/forgotPassword"

  /auth/resetpassword/{token}:
    $ref: "./auth.yaml#/resetPassword"

# ==============================================================
# COMPONENTS
# ==============================================================

components:
  # ============================================================
  # SECURITY SCHEMES
  # ============================================================

  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: |
        JWT access token used to authenticate protected API requests.

        The token is returned after successful login or OTP verification.

        Send the token using the Authorization header:

        Authorization: Bearer <JWT_TOKEN>

  # ============================================================
  # SCHEMAS
  # ============================================================

  schemas:
    Address:
      $ref: "./schema.yaml#/components/schemas/Address"

    RegisterUserRequest:
      $ref: "./schema.yaml#/components/schemas/RegisterUserRequest"

    LoginRequest:
      $ref: "./schema.yaml#/components/schemas/LoginRequest"

    VerifyOtpRequest:
      $ref: "./schema.yaml#/components/schemas/VerifyOtpRequest"

    ResendOtpRequest:
      $ref: "./schema.yaml#/components/schemas/ResendOtpRequest"

    ForgotPasswordRequest:
      $ref: "./schema.yaml#/components/schemas/ForgotPasswordRequest"

    ResetPasswordRequest:
      $ref: "./schema.yaml#/components/schemas/ResetPasswordRequest"

    RegisterUserResponse:
      $ref: "./schema.yaml#/components/schemas/RegisterUserResponse"

    LoginResponse:
      $ref: "./schema.yaml#/components/schemas/LoginResponse"

    VerifyOtpResponse:
      $ref: "./schema.yaml#/components/schemas/VerifyOtpResponse"

    ResendOtpResponse:
      $ref: "./schema.yaml#/components/schemas/ResendOtpResponse"

    ForgotPasswordResponse:
      $ref: "./schema.yaml#/components/schemas/ForgotPasswordResponse"

    ResetPasswordResponse:
      $ref: "./schema.yaml#/components/schemas/ResetPasswordResponse"

    User:
      $ref: "./schema.yaml#/components/schemas/User"

    ErrorResponse:
      $ref: "./schema.yaml#/components/schemas/ErrorResponse"
