openapi: 3.1.0

info:
  title: BookStore REST API
  version: 1.0.0
  description: |
    REST API for an online bookstore.

    This API provides authentication, user management, book management,
    cart, favourites, orders, and other bookstore-related functionality.
  license:
    name: Apache 2.0
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"

servers:
  - url: http://bookstore.kplabs.com/api
    description: Local Development Server

tags:
  - name: auth
    description: |
      Authentication and account verification endpoints.

      Includes:
      - User registration
      - User login
      - Email OTP verification
      - Resending OTP
      - Forgot password
      - Reset password
  - name: admin
    description: |
      Administrator endpoints for monitoring and managing
      the bookstore application.
  - name: books
    description: |
      Book catalog, inventory, and product management endpoints.

      Includes:
      - Public catalog browsing with title and author regex search
      - Sorting (newest, oldest) and pagination controls
      - Single book lookup with high-speed Redis caching
      - Administrator book creation with Cloudinary cover image upload
      - Administrator book updates with metadata editing and cover image replacement
      - Administrator soft-deletion preserving historical order data
  - name: cart
    description: |
      Shopping cart operations for authenticated customers.

      Includes:
      - Retrieving active user shopping cart with Redis caching
      - Adding books to cart with real-time inventory validation and dynamic pricing recalculation
      - Removing items from cart with automatic price and quantity reconciliation
  - name: orders
    description: |
      Order processing, Stripe checkout, refund requests, and fulfillment tracking.

      Includes:
      - Creating Stripe checkout sessions with inventory reservations and cart conversion
      - Processing customer payment refunds with eligibility verification (7-day window)
      - Administrator platform-wide order monitoring, sorting, and pagination
      - Single order lookup with high-speed Redis caching
      - Stripe payment completion and redirection handling

  - name: reviews
    description: |
      Customer book review and rating management endpoints.

      Includes:
      - Retrieving paginated customer reviews and star ratings for a specific book
      - Submitting customer reviews with automatic book aggregate rating recalculation
      - Updating user reviews and modifying star ratings
      - Deleting customer reviews with automated catalog score reconciliation
      - Administrator catalog-wide review monitoring, searching, and pagination
      - High-performance personal review retrieval with Redis cache-aside caching

  - name: users
    description: |
      User account management, profile settings, order history, and favourites collection.

      Includes:
      - Retrieving authenticated customer profile (`/users/me`)
      - Updating user account information and delivery address (`/users/updateMe`)
      - Retrieving past order history (`/users/orders`)
      - Managing book favourites and wishlist items (`/users/favBooks`)
      - Administrator user catalog querying with multi-field regex filters and pagination (`/users/all`)
      - Administrator single user lookup by ID (`/users/{userId}`)

  - name: wishlist
    description: |
      Customer book wishlist and saved items management endpoints.

      Includes:
      - Retrieving all saved books in customer's wishlist with populated book catalog details (`/wishlist`)
      - Adding books to personal wishlist with real-time catalog existence and duplicate validation (`/wishlist/{bookId}`)
      - Removing books from customer wishlist (`/wishlist/{bookId}`)




paths:
  # ============================================================
  # AUTHENTICATION ROUTES
  # ============================================================

  /auth/register:
    $ref: "./auth.yaml#/register"

  /auth/login:
    $ref: "./auth.yaml#/login"

  /auth/verifyOtp:
    $ref: "./auth.yaml#/verifyOtp"

  /auth/resendOtp:
    $ref: "./auth.yaml#/resendOtp"

  /auth/forgotpassword:
    $ref: "./auth.yaml#/forgotPassword"

  /auth/resetpassword/{token}:
    $ref: "./auth.yaml#/resetPassword"

  # ====================================================
  # ADMIN ROUTES
  # ===================================================
  /admin/dashboard:
    $ref: "./admin.yaml#/dashboard"

  /admin/getSalesAnalytics:
    $ref: "./admin.yaml#/salesAnalytics"

  /admin/book/analytics:
    $ref: "./admin.yaml#/bookAnalytics"

  /admin/book/deadstock:
    $ref: "./admin.yaml#/deadMovingStocks"

  /admin/book/performance:
    $ref: "./admin.yaml#/bookPerformance"

  /admin/book/category/revenue:
    $ref: "./admin.yaml#/bookCategoryRevenue"

  /admin/book/category/trend:
    $ref: "./admin.yaml#/categorySalesTrend"

  /admin/book/rating/distribution:
    $ref: "./admin.yaml#/bookRatingDistribution"

  /admin/order/analytics:
    $ref: "./admin.yaml#/orderAnalytics"

  /admin/order/order-growth:
    $ref: "./admin.yaml#/orderGrowth"

  /admin/order/avg-order-value:
    $ref: "./admin.yaml#/averageOrderValue"

  /admin/customer/analytics:
    $ref: "./admin.yaml#/customerAnalytics"

  /admin/payment/analytics:
    $ref: "./admin.yaml#/paymentAnalytics"

  /admin/deactivateUser/{userId}:
    $ref: "./admin.yaml#/deactivateUser"

  # ============================================================
  # BOOK ROUTES
  # ============================================================

  /books:
    $ref: "./book.yaml#/books"

  /books/{bookId}:
    $ref: "./book.yaml#/bookById"

  # ============================================================
  # CART ROUTES
  # ============================================================

  /cart:
    $ref: "./cart.yaml#/cart"

  /cart/add:
    $ref: "./cart.yaml#/addToCart"

  /cart/remove/{bookId}:
    $ref: "./cart.yaml#/removeBookFromCart"

  # ============================================================
  # ORDER ROUTES
  # ============================================================

  /orders/checkout-session:
    $ref: "./order.yaml#/checkoutSession"
  
  /orders/refundPayment/{stripePaymentId}:
    $ref: "./order.yaml#/refundPayments"

  /orders/all:
    $ref: "./order.yaml#/getAllOrders"

  /orders/order/{orderId}:
    $ref: "./order.yaml#/getOneOrder"

  /orders/success:
    $ref: "./order.yaml#/success"

  # ============================================================
  # REVIEW ROUTES
  # ============================================================

  /books/{bookId}/review:
    $ref: "./review.yaml#/bookReviews"

  /reviews/all:
    $ref: "./review.yaml#/getAllReviews"

  /reviews/{bookId}/me:
    $ref: "./review.yaml#/getMyReview"

  # ============================================================
  # USER ROUTES
  # ============================================================

  /users/me:
    $ref: "./user.yaml#/me"

  /users/updateMe:
    $ref: "./user.yaml#/updateMe"

  /users/orders:
    $ref: "./user.yaml#/userOrders"

  /users/favBooks:
    $ref: "./user.yaml#/favBooks"

  /users/all:
    $ref: "./user.yaml#/allUsers"

  /users/{userId}:
    $ref: "./user.yaml#/userById"

  # ============================================================
  # WISHLIST ROUTES
  # ============================================================

  /wishlist:
    $ref: "./wishlist.yaml#/wishlist"

  /wishlist/{bookId}:
    $ref: "./wishlist.yaml#/wishlistByBookId"




# ==============================================================
# COMPONENTS
# ==============================================================

components:
  # ============================================================
  # SECURITY SCHEMES
  # ============================================================

  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: |
        JWT access token used to authenticate protected API requests.

        The token is returned after successful login or OTP verification.

        Send the token using the Authorization header:

        `Authorization: Bearer <JWT_TOKEN>`

  # ============================================================
  # SCHEMAS
  # ============================================================

  schemas:
    Address:
      $ref: "./schema.yaml#/components/schemas/Address"

    RegisterUserRequest:
      $ref: "./schema.yaml#/components/schemas/RegisterUserRequest"

    LoginRequest:
      $ref: "./schema.yaml#/components/schemas/LoginRequest"

    VerifyOtpRequest:
      $ref: "./schema.yaml#/components/schemas/VerifyOtpRequest"

    ResendOtpRequest:
      $ref: "./schema.yaml#/components/schemas/ResendOtpRequest"

    ForgotPasswordRequest:
      $ref: "./schema.yaml#/components/schemas/ForgotPasswordRequest"

    ResetPasswordRequest:
      $ref: "./schema.yaml#/components/schemas/ResetPasswordRequest"

    RegisterUserResponse:
      $ref: "./schema.yaml#/components/schemas/RegisterUserResponse"

    LoginResponse:
      $ref: "./schema.yaml#/components/schemas/LoginResponse"

    VerifyOtpResponse:
      $ref: "./schema.yaml#/components/schemas/VerifyOtpResponse"

    ResendOtpResponse:
      $ref: "./schema.yaml#/components/schemas/ResendOtpResponse"

    ForgotPasswordResponse:
      $ref: "./schema.yaml#/components/schemas/ForgotPasswordResponse"

    ResetPasswordResponse:
      $ref: "./schema.yaml#/components/schemas/ResetPasswordResponse"

    User:
      $ref: "./schema.yaml#/components/schemas/User"

    ErrorResponse:
      $ref: "./schema.yaml#/components/schemas/ErrorResponse"

    # =================================================
    # ADMIN SCHEMAS
    # ================================================

    AdminDashboardResponse:
      $ref: "./schema.yaml#/components/schemas/AdminDashboardResponse"

    AdminSalesData:
      $ref: "./schema.yaml#/components/schemas/AdminSalesData"

    RevenueStatistics:
      $ref: "./schema.yaml#/components/schemas/RevenueStatistics"

    CountStatistics:
      $ref: "./schema.yaml#/components/schemas/CountStatistics"

    SalesPeriodStatistics:
      $ref: "./schema.yaml#/components/schemas/SalesPeriodStatistics"

    DailySales:
      $ref: "./schema.yaml#/components/schemas/DailySales"

    TopBook:
      $ref: "./schema.yaml#/components/schemas/TopBook"

    AdminUserStats:
      $ref: "./schema.yaml#/components/schemas/AdminUserStats"

    UserRoleStatistics:
      $ref: "./schema.yaml#/components/schemas/UserRoleStatistics"

    AdminOrderStats:
      $ref: "./schema.yaml#/components/schemas/AdminOrderStats"

    OrderStatusStatistics:
      $ref: "./schema.yaml#/components/schemas/OrderStatusStatistics"

    LowInventoryBook:
      $ref: "./schema.yaml#/components/schemas/LowInventoryBook"

    PaginationMetadata:
      $ref: "./schema.yaml#/components/schemas/PaginationMetadata"

    SalesAnalyticsItem:
      $ref: "./schema.yaml#/components/schemas/SalesAnalyticsItem"

    SalesAnalyticsResponse:
      $ref: "./schema.yaml#/components/schemas/SalesAnalyticsResponse"

    BookInventoryOverview:
      $ref: "./schema.yaml#/components/schemas/BookInventoryOverview"

    BookSalesRankingItem:
      $ref: "./schema.yaml#/components/schemas/BookSalesRankingItem"

    BookReviewRankingItem:
      $ref: "./schema.yaml#/components/schemas/BookReviewRankingItem"

    BookAnalyticsData:
      $ref: "./schema.yaml#/components/schemas/BookAnalyticsData"

    BookAnalyticsResponse:
      $ref: "./schema.yaml#/components/schemas/BookAnalyticsResponse"

    DeadStockBook:
      $ref: "./schema.yaml#/components/schemas/DeadStockBook"

    DeadStockResponse:
      $ref: "./schema.yaml#/components/schemas/DeadStockResponse"

    BookPerformanceItem:
      $ref: "./schema.yaml#/components/schemas/BookPerformanceItem"

    BookPerformanceResponse:
      $ref: "./schema.yaml#/components/schemas/BookPerformanceResponse"

    CategoryRevenueItem:
      $ref: "./schema.yaml#/components/schemas/CategoryRevenueItem"

    CategoryRevenueResponse:
      $ref: "./schema.yaml#/components/schemas/CategoryRevenueResponse"

    CategoryTrendItem:
      $ref: "./schema.yaml#/components/schemas/CategoryTrendItem"

    CategoryTrendResponse:
      $ref: "./schema.yaml#/components/schemas/CategoryTrendResponse"

    BookRatingDistributionItem:
      $ref: "./schema.yaml#/components/schemas/BookRatingDistributionItem"

    BookRatingDistributionResponse:
      $ref: "./schema.yaml#/components/schemas/BookRatingDistributionResponse"

    OrderStatusCount:
      $ref: "./schema.yaml#/components/schemas/OrderStatusCount"

    OrderCancellationRate:
      $ref: "./schema.yaml#/components/schemas/OrderCancellationRate"

    OrderAnalyticsData:
      $ref: "./schema.yaml#/components/schemas/OrderAnalyticsData"

    OrderAnalyticsResponse:
      $ref: "./schema.yaml#/components/schemas/OrderAnalyticsResponse"

    DailyOrderGrowthItem:
      $ref: "./schema.yaml#/components/schemas/DailyOrderGrowthItem"

    OrderGrowthResponse:
      $ref: "./schema.yaml#/components/schemas/OrderGrowthResponse"

    MonthlyAvgOrderValueItem:
      $ref: "./schema.yaml#/components/schemas/MonthlyAvgOrderValueItem"

    AverageOrderValueResponse:
      $ref: "./schema.yaml#/components/schemas/AverageOrderValueResponse"

    MonthlyUserGrowthItem:
      $ref: "./schema.yaml#/components/schemas/MonthlyUserGrowthItem"

    TopPayingCustomerItem:
      $ref: "./schema.yaml#/components/schemas/TopPayingCustomerItem"

    ReturningCustomerRate:
      $ref: "./schema.yaml#/components/schemas/ReturningCustomerRate"

    CustomerAnalyticsData:
      $ref: "./schema.yaml#/components/schemas/CustomerAnalyticsData"

    CustomerAnalyticsResponse:
      $ref: "./schema.yaml#/components/schemas/CustomerAnalyticsResponse"

    PaymentStatusAmounts:
      $ref: "./schema.yaml#/components/schemas/PaymentStatusAmounts"

    PaymentStatusRates:
      $ref: "./schema.yaml#/components/schemas/PaymentStatusRates"

    PaymentAnalyticsData:
      $ref: "./schema.yaml#/components/schemas/PaymentAnalyticsData"

    PaymentAnalyticsResponse:
      $ref: "./schema.yaml#/components/schemas/PaymentAnalyticsResponse"

    DeactivateUserResponse:
      $ref: "./schema.yaml#/components/schemas/DeactivateUserResponse"

    # ============================================================
    # BOOK SCHEMAS
    # ============================================================

    Book:
      $ref: "./schema.yaml#/components/schemas/Book"

    CreateBookRequest:
      $ref: "./schema.yaml#/components/schemas/CreateBookRequest"

    UpdateBookRequest:
      $ref: "./schema.yaml#/components/schemas/UpdateBookRequest"

    BookResponse:
      $ref: "./schema.yaml#/components/schemas/BookResponse"

    GetAllBooksResponse:
      $ref: "./schema.yaml#/components/schemas/GetAllBooksResponse"

    DeleteBookResponse:
      $ref: "./schema.yaml#/components/schemas/DeleteBookResponse"

    # ============================================================
    # CART SCHEMAS
    # ============================================================

    CartItem:
      $ref: "./schema.yaml#/components/schemas/CartItem"

    Cart:
      $ref: "./schema.yaml#/components/schemas/Cart"

    AddToCartRequest:
      $ref: "./schema.yaml#/components/schemas/AddToCartRequest"

    CartResponse:
      $ref: "./schema.yaml#/components/schemas/CartResponse"

    # ============================================================
    # REVIEW SCHEMAS
    # ============================================================

    ReviewUserRef:
      $ref: "./schema.yaml#/components/schemas/ReviewUserRef"

    ReviewBookRef:
      $ref: "./schema.yaml#/components/schemas/ReviewBookRef"

    Review:
      $ref: "./schema.yaml#/components/schemas/Review"

    ReviewCreatedData:
      $ref: "./schema.yaml#/components/schemas/ReviewCreatedData"

    CreateReviewRequest:
      $ref: "./schema.yaml#/components/schemas/CreateReviewRequest"

    UpdateReviewRequest:
      $ref: "./schema.yaml#/components/schemas/UpdateReviewRequest"

    CreateReviewResponse:
      $ref: "./schema.yaml#/components/schemas/CreateReviewResponse"

    UpdateReviewResponse:
      $ref: "./schema.yaml#/components/schemas/UpdateReviewResponse"

    DeleteReviewResponse:
      $ref: "./schema.yaml#/components/schemas/DeleteReviewResponse"

    GetBookReviewsResponse:
      $ref: "./schema.yaml#/components/schemas/GetBookReviewsResponse"

    GetAllReviewsAdminResponse:
      $ref: "./schema.yaml#/components/schemas/GetAllReviewsAdminResponse"

    GetMyReviewResponse:
      $ref: "./schema.yaml#/components/schemas/GetMyReviewResponse"

    # ============================================================
    # ORDER SCHEMAS
    # ============================================================

    OrderItem:
      $ref: "./schema.yaml#/components/schemas/OrderItem"

    OrderShippingAddress:
      $ref: "./schema.yaml#/components/schemas/OrderShippingAddress"

    OrderPaymentInfo:
      $ref: "./schema.yaml#/components/schemas/OrderPaymentInfo"

    Order:
      $ref: "./schema.yaml#/components/schemas/Order"

    CheckoutSessionResponse:
      $ref: "./schema.yaml#/components/schemas/CheckoutSessionResponse"

    RefundPaymentResponse:
      $ref: "./schema.yaml#/components/schemas/RefundPaymentResponse"

    GetAllOrdersResponse:
      $ref: "./schema.yaml#/components/schemas/GetAllOrdersResponse"

    GetOneOrderResponse:
      $ref: "./schema.yaml#/components/schemas/GetOneOrderResponse"

    # ============================================================
    # USER SCHEMAS
    # ============================================================

    GetAllUsersResponse:
      $ref: "./schema.yaml#/components/schemas/GetAllUsersResponse"

    GetUserProfileResponse:
      $ref: "./schema.yaml#/components/schemas/GetUserProfileResponse"

    GetUserOrdersResponse:
      $ref: "./schema.yaml#/components/schemas/GetUserOrdersResponse"

    UpdateUserRequest:
      $ref: "./schema.yaml#/components/schemas/UpdateUserRequest"

    UpdateUserResponse:
      $ref: "./schema.yaml#/components/schemas/UpdateUserResponse"

    AddFavBookRequest:
      $ref: "./schema.yaml#/components/schemas/AddFavBookRequest"

    AddFavBookResponse:
      $ref: "./schema.yaml#/components/schemas/AddFavBookResponse"

    # ============================================================
    # WISHLIST SCHEMAS
    # ============================================================

    WishlistBookItem:
      $ref: "./schema.yaml#/components/schemas/WishlistBookItem"

    WishlistItem:
      $ref: "./schema.yaml#/components/schemas/WishlistItem"

    WishlistRawItem:
      $ref: "./schema.yaml#/components/schemas/WishlistRawItem"

    GetAllWishlistResponse:
      $ref: "./schema.yaml#/components/schemas/GetAllWishlistResponse"

    AddToWishlistResponse:
      $ref: "./schema.yaml#/components/schemas/AddToWishlistResponse"

    RemoveFromWishlistResponse:
      $ref: "./schema.yaml#/components/schemas/RemoveFromWishlistResponse"




